.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(236, 62, 106);
}

.title{
    padding-left: 1rem;
    color: white;
    font-size: x-large;
}

.subtitle{
    color: white;
    padding-left: 1rem;
}

.pickers{
    padding-top: 1rem;
    padding-left: 3rem;
    font-weight: bold;
}

.search{
    margin-left: 3rem;
    background-color: rgb(236, 62, 106);
    border-radius: 4px;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}